<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>后台管理页</title>
	<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../js/admins.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>
    <div class="content">
        <p class="image"></p>
    	<h1>后台管理</h1>
     	<p class="bookinfo">书名：<input type="text" name="bookname"></p>
    	<p class="bookinfo1">作者：<input type="text" name="username"></p> 
    	<p class="bookinfo2">出版时间：<input type="text" name="publishtime"></p> 
    	<p class="bookinfo2">内容简介：<input type="text" name="bookinfo"></p> 
     	<p class="butto">录入数据</p>
    </div>
</body>
</html>