<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>列表页</title>
    <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../js/lists.js"></script>
  <!--   <script type="text/javascript" src="../js/del.js"></script> -->
	<link rel="stylesheet" type="text/css" href="../css/list.css">
</head>
<body>
    <div class="content">
        <p class="image"></p>
    	<h1>数据列表</h1>
     	<ul class="listinfo">
     		<li>书名</li>
     		<li>作者</li>
     		<li>出版时间</li>
     		<li class="look">查看</li>
     		<li class="update">更新</li>
      		<li class="add">添加</li>
     		<li class="del">删除</li>
     	</ul>
     	<!-- <ul class="listinfo1">
     		<li>书名</li>
     		<li>作者</li>
     		<li>出版时间</li>
     		<li class="look">查看</li>
     		<li class="update">更新</li>
      		<li class="add">添加</li>
     		<li class="del">删除</li>
     	</ul> -->
     	 
    </div>
</body>
</html>