<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>首页</title>
	<script type="text/javascript" src="./js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <div class="bonner">
        <!-- <img src="./images/picture.jpg">
    	<span class="content">
			<p>书名：</p>
			<p>作者：</p>
			<p>出版时间：</p>
			<p>内容简介：</p>
	    </span>
	    <img src="./images/picture.jpg">
    	<span class="content">
			<p>书名：</p>
			<p>作者：</p>
			<p>出版时间：</p>
			<p>内容简介：</p>
	    </span>
	    <img src="./images/picture.jpg">
    	<span class="content">
			<p>书名：</p>
			<p>作者：</p>
			<p>出版时间：</p>
			<p>内容简介：</p>
	    </span> -->
    </div> 
</body>
</html>